// SPDX-License-Identifier: GPL-2.0-or-later
/*
 *  sun8i-h3-st7735s.dts - Display driver
 *
 *  Copyright (C) 2020 Andrey Pahomov <pahomov.and@gmail.com>
 */
/dts-v1/;
/plugin/;

/ {
	compatible = "allwinner,sun8i-h3";

	fragment@0 {
		target-path = "/soc/spi@1c68000";
			__overlay__ {
				status = "okay";

				st7735s@0 {
					compatible = "st7735s";
					reg = <0>; /* CS #0 */
					spi-max-frequency = <5000000>;

					/* &pio, PA_BASE, PC7, GPIO_ACTIVE_HIGH*/
					dc-gpios = <&pio 2 7 0>;

					/* &pio, PA_BASE, PA2, GPIO_ACTIVE_HIGH*/
					reset-gpios = <&pio 0 2 0>;

					status = "okay";
				};

		};
	};
};

